<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<!-- Depende de edit-password.js -->

<div th:fragment="edit-password">

	<div th:replace="shared/_feedback-panel :: feedback-panel"></div>

    <form class="change-password-form form-horizontal" role="form" th:action="@{/user/change-password}" method="post">
        <div class="form-group">
            <label for="contrasena-actual" class="col-lg-4 col-md-3 control-label" th:text="#{contraseña.actual}">Contraseña actual</label>
            <div class="col-lg-8 col-md-9">
                <input type="password" id="contrasena-actual" name="contrasena-actual" class="form-control" required autofocus>
            </div>
        </div>
		<div class="form-group">
			<div class="col-lg-offset-4 col-md-offset-3 col-lg-8 col-md-9">
				<a href="#" th:text="#{olvidaste.tu.contraseña}">¿Olvidaste tu contraseña?</a>
			</div>
		</div>
        <div class="form-group">
            <label for="nueva-contrasena" class="col-lg-4 col-md-3 control-label" th:text="#{nueva.contraseña}">Nueva contraseña</label>
            <div class="col-lg-8 col-md-9">
                <input type="password" id="nueva-contrasena" name="nueva-contrasena" class="form-control" required>
            </div>
        </div>
        <div class="form-group">
            <label for="verificacion-contrasena" class="col-lg-4 col-md-3 control-label" th:text="#{verificar.contraseña}">Verificar contraseña</label>
            <div class="col-lg-8 col-md-9">
                <input type="password" id="verificacion-contrasena" name="verificacion-contrasena" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-offset-4 col-md-offset-3 col-lg-8 col-md-9">
                <button type="submit" class="hidden-xs btn btn-primary" th:text="#{editar.perfil.guardar.cambios}">Guardar cambios</button>
                <button type="submit" class="visible-xs btn btn-primary btn-lg btn-block" th:text="#{editar.perfil.guardar.cambios}">Guardar cambios</button>
            </div>
        </div>
    </form>

</div>

</body>
</html>
