/* Move down content because we have a fixed navbar that is 50px tall */
body {
	padding-top: 50px;
	padding-bottom: 20px;
}

.col-centered {
	float: none;
	margin: 0 auto;
}

.margin-top-20 {
	margin-top: 20px;
}
