<!doctype html>
<html layout:decorator="layouts/main-layout" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title th:text="#{titulo.pagina.perfil}">Editar perfil</title>
	<link rel="stylesheet" th:href="@{/resources/chosen/chosen.css}">
	<link rel="stylesheet" th:href="@{/resources/chosen/chosen-bootstrap.css}">
</head>
<body>

	<div layout:fragment="child-content" class="row margin-top-20">

	<div class="col-lg-6 col-lg-offset-3">

        <select id="country-select" data-placeholder="Elige una ciudad..." class="form-control">
            <option th:each="city : ${allCities}" th:value="${city.id}" th:text="${city}">Necochea</option>
        </select>

		<!--<select multiple id="country-select" data-placeholder="Choose a Country..." class="form-control">-->
			<!--<option value=""></option>-->
			<!--<option value="United States">United States</option>-->
			<!--<option value="United Kingdom">United Kingdom</option>-->
			<!--<option value="Afghanistan">Afghanistan</option>-->
			<!--<option value="Aland Islands">Aland Islands</option>-->
			<!--<option value="Albania">Albania</option>-->
			<!--<option value="Algeria">Algeria</option>-->
			<!--<option value="American Samoa">American Samoa</option>-->
		<!--</select>-->
	</div>



		<script th:src="@{/resources/chosen/chosen.jquery.js}"></script>
		<script>

			$(document).ready(function() {

				$("#country-select").chosen();

			});

		</script>

	</div>

</body>
</html>